<launch>
    <arg name = "vehicle_num"       value = "6"/> 
    <arg name = "vehicle_type"      value = "iris" />
    <arg name = "vehicle_init_posi" value = "[[-17.0, -3.0, 0.0], [-14.0, -3.0, 0.0], [-17.0, 0.0, 0.0], [-14.0, 0.0, 0.0], [-17.0, 3.0, 0.0], [-14.0, 3.0, 0.0]]"/>

    <arg name = "cruise_height"     value = "5" />

    <param name = "/vehicle_num" value = "$(arg vehicle_num)" />
    <param name = "/vehicle_init_posi" value = "$(arg vehicle_init_posi)"/>

    <node pkg="tf" name="static_transform_publisher" type="static_transform_publisher"  args="0.0 0.0 0.0 0.0 0.0 0.0 map world 100" />
    
    <!-- <node name="rvizvisualisation_image" pkg="rviz" type="rviz" output="log" args="-d $(find target_tracking)/config/mult_image_riviz_config.rviz"/> -->

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "0" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)" />
        <arg name = "cruise_global_points" value = "[[-40.0,-40.0], [33.0, -40.0], [33.0, -3.0], [-40.0, -3.0]]"/>
    </include>

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "1" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)"/>
        <arg name = "cruise_global_points" value = "[[37.0, -3.0], [37.0, -40.0], [110.0, -40.0], [110.0, -3.0]]"/>
    </include>

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "2" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)" />
        <arg name = "cruise_global_points" value = "[[-40.0,0.0], [33.0, 0.0]]"/>
    </include>

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "3" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)"/>
        <arg name = "cruise_global_points" value = "[[100, 0.0], [40.0, 0.0]]"/>
    </include>

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "4" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)" />
        <arg name = "cruise_global_points" value = "[[-40.0, 40.0], [33.0, 40.0], [33.0, 3.0], [-40.0, 3.0]]"/>
    </include>

    <include file="$(find target_tracking)/launch/target_tracking/target_tracking.xml">
        <arg name = "ID" value = "5" />
        <arg name = "vehicle_type"  value = "iris" />
        <arg name = "map_size_x"    value = "180.0"/>
        <arg name = "map_size_y"    value = "100.0"/>
        <arg name = "map_size_z"    value = "2"/>
        <arg name = "cruise_height" value = "$(arg cruise_height)"/>
        <arg name = "cruise_global_points" value = "[[37.0, 3.0], [37.0, 40.0], [110.0, 40.0], [110.0, 3.0]]"/>
    </include>
   
</launch>
